@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500&display=swap');


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: none;

}

body{
    overflow-x: hidden;
   
}


.webgls
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    
}


.container{
    height: 100vh;
    display: grid;
    place-items: center;
}



section{height: 100vh}