.topping {
  color: rgb(255, 255, 255);
  font-weight: 400;

  margin: 1rem 0;
}
.check {
  width: 30px;
}
.topping span {
}
.whyImage {
  height: 200px;
  transform: scale(1.2);
}
@media screen and (max-width: 420px) {
  .whyImage {
    transform: scale(1.2);
  }
}
