.topping {
  padding: 1rem 0;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.topping span {
  padding-left: 5px;
}
.whyImage {
  height: 200px;
  transform: scale(1.2);
}
@media screen and (max-width: 420px) {
  .whyImage {
    transform: scale(1.2);
  }
}
