.area {
  height: 50%;
  width: 45vw;
  border: 2px solid white;
  outline: none;
  background-color: rgba(216, 191, 216, 0.199);
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 1rem;
}
.area:focus {
  border: 2px solid rgb(12, 94, 201);
}
.area::placeholder {
  color: rgba(255, 255, 255, 0.753);
}
