.AboutUsContent {
  font-size: 1rem;
  padding: 0rem 2rem;
  margin-top: -0.1rem;
}
.AboutUsModal {
  height: 50vh;
  width: 50vw;
  margin: 13% 25%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
}
.CloseButton {
  font-size: 2rem;
  margin: 0.4rem;
  padding: 0.5rem;
  cursor: pointer;
}
