.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 0;
  scroll-behavior: none;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.videotag {
  height: 120vh;
  width: 100vw;
  filter: opacity(0.9);
  position: absolute;
  top: -2vh;
  left: 0vw;
}
.parent {
  display: flex;
  width: 100%;
  margin-top: 20vh;
  padding: 0 5vw;
}
.container {
  width: 50%;
  z-index: 2;
  scroll-behavior: none;
}
.container h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px black;
  color: white;
  word-spacing: 5px;
}
.container p {
  color: white;
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.95;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 3rem;
}
.threejs {
  border: none;
  position: absolute;
  top: 2%;
  left: 50%;
  overflow: hidden;

  margin-left: -7rem;
}
@media screen and (max-width:900px) {
  .videotag {
    height: 120vh;
    position: absolute;
    top: -2vh;
    left: 0vw;
    transform: rotate(90deg);
  }
  .container h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;
    color: white;
    word-spacing: 2px;
  }
  .main{
    overflow: hidden;
  }
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container p{
    font-size: 1.2rem;
  }
}
