.button{
    width: fit-content;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 1.5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 900;
    opacity: 0.9;
    transition: 300ms;
    cursor: pointer;
    
}
.button:hover{
    
    color: white;
    opacity: 1;
    border-radius: 1.5rem;
    transition: ease-in-out 0.5s ;
    transform: scale(1.07);
    box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.4), -3px -3px 5px 0px rgba(0, 0, 0, 0.493);

}
.hollow {
    background-color: transparent;
    border: 2px solid white;
}
.solid {
    background: rgba( 255, 255, 255, 0.2 );
}