.button {
  border-radius: 1.5rem;
  padding: 0.5rem 1.4rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(246, 246, 246);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 900;
  opacity: 0.9;
  cursor: pointer;
  max-width: 80px;
  overflow: hidden;
  transition: max-width 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button:hover {
  color: white;
  opacity: 1;
  border-radius: 1.5rem;
  transition: ease-in-out 0.5s;
  transition: 100ms;
  transform: scale(1.07);
  box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.4),
    -3px -3px 5px 0px rgba(0, 0, 0, 0.493);
  max-width: 300px;
  transition: max-width 0.5s;
  border: 2px solid #006ee6;
}
.hollow {
  background-color: transparent;
  border: 2px solid white;
}
.solid {
  background: rgba(255, 255, 255, 0.2);
}

.icon-button {
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.text {
  white-space: nowrap;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
  animation: shake 500ms ease;
  border: 3px solid red;
}
@keyframes shake {
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  25% {
    transform: translateX(3px);
  }
  0% {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 420px) {
  .button {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    padding: 0.2rem 1.3rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    letter-spacing: 2px;
    font-weight: 700;
    opacity: 0.9;
    cursor: pointer;
    max-width: 70px;
    color: white;
  }
  .icon-button {
    font-size: 1.5rem;
  }
}
