.nav-main {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.6rem 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  z-index: 10;
}
.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: flex-start;
  position: absolute;
  left: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: flex-end;
}
li {
  margin-right: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  color: white;
  transition: 200ms;
}
li:hover {
  transition: 200ms;
  text-decoration: underline;
}
.pixo-logo {
  width: 50px;
}
.pixo-name {
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: 0.5rem;
}
a {
  text-decoration: none;
  color: white;
}
.hamburger {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  top: 40px;
  font-size: 1.5rem;
  display: none;
  color: white;
}
@media screen and (max-width: 900px) {
  .nav-main {
    flex-direction: column;
    justify-content: center;

    padding: 2rem 0;
  }

  .brand {
    /* border: 2px solid red; */
    top: 0.01rem;
    left: 1px;
    margin: 0.6rem 0;
  }
  .pixo-name {
    font-size: 1.5rem;
  }
  ul {
    flex-direction: column;
    height: auto;
    /* border: 2px solid rgb(9, 201, 159); */
    /* display: none; */
  }
  li:nth-child(1) {
    border-top: 1px solid white;
    margin-top: 40px;
  }
  li {
    width: 80%;
    text-align: center;
    border-top: 1px solid white;
    font-size: 1rem;
    padding: 0.5rem;
    white-space: nowrap;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}
