
.Freshlook-navbar{
    display: flex;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 3%;
    grid-template-columns: auto 1fr;
    padding-top: 1.5rem;
    padding: 0.5rem;
    height: 3.5rem;
    width:fit-content;
    border-radius:2rem;
    background: rgba(255, 255, 255, 0.178);
    box-shadow: 0 8px 32px 0 rgba(4, 16, 179, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    margin:1.5rem auto;
    color: #fff;
    
}
.Navbar-content{
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.List-items{
    margin-left: 1rem;
    
}
.pixo {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(./images/pixonoid.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
}
.pixo_name{
    font-size: 1.5rem;
    margin: 0.4rem 0rem 0rem 0.4rem;
    letter-spacing:3.1px;
    font-weight: bolder;
}
.List-items img{
    height: 3rem;
    width: 3rem;
}
.List-items a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
    
   }
