.nav-main {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.6rem 0;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  z-index: 10;
}
.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;

  position: absolute;
  right: 10px;
}
.list li {
  margin-right: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  color: white;
  transition: 200ms;
}
.list li:hover {
  transition: 200ms;
  text-decoration: underline;
}
.pixo-logo {
  width: 60px;
  animation: rotate 7s ease-in-out infinite;
  position: relative;
}

.tooltip {
  opacity: 1;
  color: transparent;
  position: absolute;
  bottom: -30px;
  cursor: crosshair;
}
@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
  88% {
    transform: rotate(360deg);
  }
  66% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(380deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.pixo-name {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  left: 15px;
}
a {
  text-decoration: none;
  color: white;
}
.hamburger {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  top: 40px;
  font-size: 1.5rem;
  display: none;
  color: white;
}
@media screen and (max-width: 420px) {
  .nav-main {
    flex-direction: column;
    justify-content: center;
  }

  .brand {
    margin-left: 9rem;
  }
  .pixo-name {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    top: 10px;
  }
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: initial;
    right: 10px;
    margin-top: 1rem;
  }
  .lis li:nth-child(1) {
    border-top: 1px solid white;
  }
  .list li {
    width: 80%;
    text-align: center;
    border-top: 1px solid white;
    font-size: 1.5rem;
    padding: 0.5rem;
    white-space: nowrap;
    text-shadow: 0px 0px 5px black;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}
@media screen and (max-width: 1010px) and (min-width: 420px) {
}
