.ContactUsModal {
  height: 80vh;
  width: 60vw;
  margin: 5% 21%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
}
.CloseButton {
  font-size: 1.5rem;
  margin: 0.4rem;
  padding: 0.5rem;
}
.ContactUsContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 90%;
  width: 90%;
  margin-top: -3%;
  justify-content: space-between;
}

.Whatsapp-Number {
  border: 2px solid black;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}
.Photo1 {
  border: 2px solid black;
  height: 90%;
  width: 38%;
  background-image: url(./images/photo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Photo2 {
  border: 2px solid black;
  height: 90%;
  width: 38%;
  background-image: url(./images/photo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Contact-Email {
  border: 2px solid black;
  height: 20%;
}
.Contact-social-icon {
  border: 2px solid black;
  height: 10%;
}
