.ContactUsModal{
  height: 80vh;
  width: 60vw;
  margin: 5% 21%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: none;
}
.CloseButton{
  font-size: 2.5rem;
  margin: 0.4rem;
  padding: 0.5rem;
  cursor: pointer;
}
.ContactUsContent{
 display: flex;
 flex-direction: column;
 margin: auto;
 height: 90%;
 width: 90%;
 margin-top: -3%;
 justify-content: space-between;
 align-items: center;
}

.Whatsapp-Number{

  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.images-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
  width: 50vw;
}
.Name-phone{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Photo1{

  height: 90%;
  width: 38%;
  background-image: url(./images/photo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Photo2{

  height: 90%;
  width: 38%;
  background-image: url(./images/photo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Contact-Email{
  height: 20%;
  width: 40vw;
  height: 10vh;
  background-color:rgb(78, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Contact-social-icon{

  height: 10%;
}
.social-icons-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-list{
  margin: 10px 1rem 0rem 0rem;
}
.social-list a{
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: black;
  /* font-weight: 600; */
}
.mailimg{
  font-size: 3.5rem;
  padding: 0.5rem;
}
