.ContactUsModal{
  height: 40%;
  width: 40%;
  margin:15% auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.CloseButton{
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}
.name-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-weight: 600;
}
.meeting-container{
  height: fit-content;
  background-color: rgb(171, 75, 250);
  padding: 1rem;
  border-radius: 8px;
}
.social-icon-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-icon-container a{
  font-size: 1.7rem;
  color: rgb(28, 0, 37);
}
@media screen and (max-width:430px){
  .ContactUsModal{
    height: 50%;
    width: 90%;
    position: relative;
  }
  .name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-weight: 600;
  }
  .name-container div{
    margin: 0.5rem;
  }
  .meeting-container{
    height: fit-content;
    width: 80%;
    background-color: rgb(171, 75, 250);
    padding: 1rem;
    border-radius: 8px;
  }
  .social-icon-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .social-icon-container a{
    font-size: 1.4rem;
    color: rgb(28, 0, 37);
  }
}
@media screen and (min-width:430px) and (max-width:900px){
  .ContactUsModal{
    height: 50%;
    width: 90%;
    position: relative;
  }
  .name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-weight: 600;
  }
  .name-container div{
    margin: 0.5rem;
  }
  .meeting-container{
    height: fit-content;
    width: 80%;
    background-color: rgb(171, 75, 250);
    padding: 1rem;
    border-radius: 8px;
  }
  .social-icon-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .social-icon-container a{
    font-size: 1.4rem;
    color: rgb(28, 0, 37);
  }
}
@media screen and (min-width:900px){
  .ContactUsModal{
    height: 40%;
    width: 50%;
  }
  .name-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
  .meeting-container{
    width: 80%;
  }
  .social-icon-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .social-icon-container a{
    color: rgb(28, 0, 37);
  }
}