.loading-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(53, 53, 53, 0.788);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;

  color: white;
  overflow: hidden;
  z-index: 10000;
}

.pixo {
  padding-bottom: 2rem;
  width: 500px;
}
.pixo-logo-con {
  /* border: 2px solid red; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  filter: grayscale(0);
}
.loading-img {
  position: absolute;
  width: 150px;
  filter: grayscale(20%);
}
