.loading-container {
  width: 100vw;
  height: 105vh;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  color: white;
  overflow: hidden;
  z-index: 10000;
}
.show {
  display: none;
}
.pixo {
  padding-bottom: 2rem;
  width: 500px;
}
.pixo-logo-con {
  /* border: 2px solid red; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  filter: grayscale(0);
}
.loading-img {
  position: absolute;
  width: 150px;
  filter: grayscale(20%);
}
@media screen and (max-width: 420px) {
  .loading-container {
    width: 100vw;
    height: 105vh;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    color: white;
    overflow: hidden;
    z-index: 10000;
    transform: translateY(-5%);
  }
}
