.loading-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: white;
  position: absolute;
  z-index: -100;
}

.pixo {
  width: 20vw;
  padding-bottom: 2rem;
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
