/* Main page css */
:root {
  --color-green: rgb(24, 252, 252);
  --color-white: #fff;
  --curve: cubic-bezier(0.42, 0, 0.275, 1.155);
}

.star {
  position: absolute;
  animation: grow 2s infinite;
  fill: var(--color-green);
  opacity: 0;
}
.star:nth-child(1) {
  width: 12px;
  height: 12px;
  left: 12px;
  top: 16px;
}
.star:nth-child(2) {
  width: 18px;
  height: 18px;
  left: 168px;
  top: 84px;
}
.star:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 32px;
  top: 162px;
}
.star:nth-child(4) {
  width: 20px;
  height: 20px;
  left: 82px;
  top: -12px;
}
.star:nth-child(5) {
  width: 14px;
  height: 14px;
  left: 125px;
  top: 162px;
}
.star:nth-child(6) {
  width: 10px;
  height: 10px;
  left: 16px;
  top: 16px;
}
.star:nth-child(1) {
  animation-delay: 1.5s;
}
.star:nth-child(2) {
  animation-delay: 3s;
}
.star:nth-child(3) {
  animation-delay: 4.5s;
}
.star:nth-child(4) {
  animation-delay: 6s;
}
.star:nth-child(5) {
  animation-delay: 7.5s;
}
.star:nth-child(6) {
  animation-delay: 9s;
}
.checkmark {
  position: relative;
  padding: 25px;
  animation: checkmark 5m var(--curve) both;
  z-index: 1;
  /* margin-top: -20px; */
}
.checkmark__check {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  fill: var(--color-white);
}
.checkmark__background {
  fill: var(--color-green);
  animation: rotate 25s linear both infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes checkmark {
  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  10%,
  50%,
  90% {
    opacity: 1;
    transform: scale(1);
  }
}

.page-box {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4058ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058ff'/%3E%3Cstop offset='1' stop-color='%234058ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058ff'/%3E%3Cstop offset='1' stop-color='%234058ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058ff'/%3E%3Cstop offset='1' stop-color='%234058ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058FF'/%3E%3Cstop offset='1' stop-color='%234058FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058FF'/%3E%3Cstop offset='1' stop-color='%234058FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058FF'/%3E%3Cstop offset='1' stop-color='%234058FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
/* form completion heading css */
.para {
  font-size: 2.5rem;
  padding: 0.7rem;
  margin-top: -20px;
}
/* information box css */
.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  width: 80vw;
}
.all_updates {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
/* left whatsapp info part */
.whatsapp-group-info a {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  border: 2px solid white;
  background-color: #25d366;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.whats-app-icon {
  font-size: 2.5rem;
  margin-right: 0.6rem;
}

.meet {
  display: flex;

  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  border: 2px solid white;
  background-color: rgb(218, 83, 83);
  border-radius: 15px;
  cursor: grab;
}
.meet_img {
  font-size: 2.5rem;
  margin-right: 1rem;
}
.meet_info {
  font-size: 1.1rem;
}
.suc-copy {
  width: 100%;
}
/* for any queries part */

@media screen and (max-width: 420px) {
  .page-box {
    height: 100%;
    overflow: scroll;
  }
  .para {
    font-size: 2rem;
  }
  .all_updates {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .whatsapp-group-info a {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: fit-content;
    font-size: 1rem;
    padding: 2rem 0;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;

    font-size: 1rem;
  }
  .whatsapp-group-info .whats-app-icon {
    font-size: 2rem;
  }
  .meet {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: fit-content;
    font-size: 0.3rem;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin: 0;
  }
  .meet_img {
    font-size: 2rem;
  }
}
@media screen and (min-width: 420px) and (max-width: 1010px) {
  .page-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4058ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058ff'/%3E%3Cstop offset='1' stop-color='%234058ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058ff'/%3E%3Cstop offset='1' stop-color='%234058ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058ff'/%3E%3Cstop offset='1' stop-color='%234058ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058FF'/%3E%3Cstop offset='1' stop-color='%234058FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058FF'/%3E%3Cstop offset='1' stop-color='%234058FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234058FF'/%3E%3Cstop offset='1' stop-color='%234058FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    overflow: scroll;
  }
  .all_updates {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /* left whatsapp info part */
  .whatsapp-group-info a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    border: 2px solid white;
    background-color: #25d366;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  .whats-app-icon {
    font-size: 2.5rem;
    margin-right: 0.6rem;
  }

  .meet {
    display: flex;

    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    border: 2px solid white;
    background-color: rgb(218, 83, 83);
    border-radius: 15px;
    cursor: grab;
  }
  .meet_img {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
  .meet_info {
    font-size: 1.1rem;
  }
  .suc-copy {
    position: inherit;
  }
  /* for any queries part */
}
