.radio-grp {
  display: flex;
  flex-wrap: wrap;
  width: 45vw;
  height: 25vh;
  align-content: space-between;
  justify-content: center;
}
.radio {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.74);
  width: 13vw;
  text-align: left;
  flex-basis: 45%;
  border-radius: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  color: grey;
  opacity: 0.8;
}
.radio:hover {
  opacity: 1;
}
.active {
  opacity: 1;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(129, 129, 129);
}
