@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url(//db.onlinewebfonts.com/c/f1a22f6f15d272c7aa56da8b2c91f5e5?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

:root {
  /* font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 87%;
    mix-blend-mode: soft-light;
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
    letter-spacing: -.015em;
    position: relative;
    color: #fff; */
  --pixo-blue: #04bcd4;
  --pixo-purple: #9c2bb3;
  --pixo-yellow: #fcec3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std Black", "Roboto", "sans-serif";
}
body {
  overflow-x: hidden;
}
