.deptImage {
  padding-left: 4rem;
}
.dept-col {
  height: fit-content;
  padding: 1rem 0.5rem;
}
@media screen and (max-width: 420px) {
  .dept-col {
    border: 2px solid white;
  }
  .deptImage {
    padding-left: 0;
  }
}
